language: python
python:
    - "2.6"
    - "2.7"
env:
    - DJANGO=1.4
    - DJANGO=1.5.1
install:
    - pip install -q Django==$DJANGO --use-mirrors
    - pip install -q -e . --use-mirrors
script:
    - python setup.py test
